table{
    border: solid #ddd;
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
    box-shadow: 0 4px 8pc rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}
th{
    background-color: #d7d6d6;
    text-align: left;
}
th, td{
    padding: 10px;
    border: none;
   
}
tr{
    border: 1px solid #ddd;
}
img{
    vertical-align: middle;
    margin: 10px;
   width: 30px;
   height: 30px;
   border-radius: 50%;
}
button{
    border-radius: 20px;
    border: none;
} 
tr:nth-child(1) td:nth-child(5) button{
    background-color: lightgreen;
    padding: 5px;
    width: 100px;
}
tr:nth-child(2) td:nth-child(5) button{
    background-color: lightgoldenrodyellow;
    padding: 5px;
    width: 100px;
}
tr:nth-child(3) td:nth-child(5) button{
    background-color: lightpink;
    padding: 5px;
    width: 100px;
}
tr:nth-child(4) td:nth-child(5) button{
    background-color: lightsalmon;
    padding: 5px;
    width: 100px;
}
tr:nth-child(5) td:nth-child(5) button{
    background-color: lightseagreen;
    padding: 5px;
    width: 100px;
}
tr:nth-child(6) td:nth-child(5) button{
    background-color: lightskyblue;
    padding: 5px;
    width: 100px;
}
tr:nth-child(even){
    background-color: #d7d6d6;
}
tr:nth-child(odd){
    background-color: rgb(241, 241, 241);
}